.landingContainer {
  background: var(--background-circle);
  height: 120dvh;
  min-height: 748px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
