:root {
  --primary-color: #ff633f;
  --secondary-color: rgba(255, 255, 255, 0.85);
  --tertiary-color: rgba(255, 255, 255, 0.55);
  --background-color: #0f0f0f;
  --background-color1: #080b11;
  --anton-font: 'Anton', sans-serif;
  --border-style: 1px solid rgba(255, 255, 255, 0.05);
  --border-stylev2: 1px solid rgba(255, 255, 255, 0.05);
  --inside-color: rgb(48, 48, 48);
  --card-color: rgba(255, 255, 255, 0.045);
  --background-circle: radial-gradient(
    circle,
    rgb(70, 70, 70) 0%,
    rgb(0, 0, 0) 100%
  );
  --padding-section: 20rem 0 0;
}
* {
  box-sizing: border-box;
}

body,
html {
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
  background-color: var(--background-color);
  font-family: var(--font-helveticaNowDisplay);
  width: 100%;
  max-width: 1920px;
  color: white;
  position: relative;
  height: 100%;
  padding: 0;
  margin: auto;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  display: block;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

.ayolah {
  transition: 0.5s all ease-out;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
}
