.containerSlider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
}

.embla__dots {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  padding: 0.3rem 0.8rem;
  z-index: 4;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  user-select: none;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);

  .embla__dot {
    padding: 0.6rem;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin: 0;
    appearance: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;

    .dot {
      background-color: rgba(255, 255, 255, 0.65);
      border-radius: 50%;
      width: 0.6rem;
      height: 0.6rem;
      transition: all 0.3s ease-in-out;
    }
  }

  .embla__dot__selected {
    .dot {
      scale: 110%;
      background-color: white;
      border-radius: 50%;
      width: 0.6rem;
      height: 0.6rem;
    }
  }
}

.embla {
  display: flex;
  overflow: hidden;
  cursor: grab;
  border-radius: 16px;
  border: var(--border-style);
}

.embla__container {
  display: flex;
  width: 400px;
  height: 300px;
  touch-action: pan-y;
}
.embla__slide {
  flex: 0 0 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
