.contactMeContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-section);
}

.connectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.connectTitle {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 19.6rem;
  font-family: var(--anton-font);
  line-height: 100%;
  letter-spacing: 0.6rem;
  color: var(--secondary-color);
}

.para1 {
  display: flex;
  height: fit-content;
  gap: 1.2rem;
  align-items: center;
}

.containerPhotoOfMine {
  display: flex;
  position: relative;
  width: 34.2rem;
  height: 23rem;
  overflow: hidden;
  border-radius: 1.6rem;
  border: var(--border-style);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.para2 {
  color: var(--primary-color);
}

.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 500;
  gap: 1.6rem;
  z-index: 2;
}

.contactMe > section {
  display: flex;
  gap: 1.6rem;

  ul {
    display: contents;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li > a {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    svg {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
}

.footerSection {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
}

.footerSection > div {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1200px) {
  .connectTitle {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: calc(14vw + 4rem);
    font-family: var(--anton-font);
    line-height: 100%;
    letter-spacing: 0.6rem;
    color: var(--secondary-color);
  }

  .containerPhotoOfMine {
    display: flex;
    position: relative;
    width: calc(50vw / 2);
    height: calc(50vw / 3);
    overflow: hidden;
    border-radius: 1.6rem;
    border: var(--border-style);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(8dvw / 2);
    font-weight: 500;
    gap: 1.6rem;
    z-index: 2;
  }

  .footerSection {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
  }

  .footerSection > div {
    font-size: calc(5dvw / 2);
  }

  .connectTitle {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: calc(14vw + 4rem);
    font-family: var(--anton-font);
    line-height: 100%;
    letter-spacing: 0.6rem;
    color: var(--secondary-color);
  }

  .containerPhotoOfMine {
    display: flex;
    position: relative;
    width: calc(50vw / 2);
    height: calc(50vw / 3);
    overflow: hidden;
    border-radius: 1.6rem;
    border: var(--border-style);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
