.mediaSection {
  width: 100%;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.mediaSection > .media {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.media > svg {
  width: 34px;
  height: 34px;
}
