.mediaSection {
  width: 100%;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.mediaSection > a {
  text-decoration: none;
  color: var(--secondary-color);
}

.mediaSection > .media {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.media > a {
  svg {
    width: 28px;
    height: 28px;
  }
}
