.workContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.stickyImagesContainer {
  background-color: rgba(255, 255, 255, 0.026);
  height: 175vh;
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;

  .column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;

    .imageContainer {
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 1vw;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    &:nth-of-type(1) {
      top: -45%;
    }
    &:nth-of-type(2) {
      top: -95%;
    }
    &:nth-of-type(3) {
      top: -45%;
    }
    &:nth-of-type(4) {
      top: -75%;
    }
  }
}

.spacer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .workTitle1 {
    display: flex;
    width: 90vw;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .workTitle1 > p {
    font-family: var(--anton-font);
    font-size: calc(7.5vw + 4rem);
    color: white;
    line-height: 100%;
    letter-spacing: 0.4rem;
    margin: 0;

    span {
      color: var(--primary-color);
    }
  }

  .workTitle {
    height: fit-content;
    font-family: var(--anton-font);
    font-size: 16rem;
    color: white;
    letter-spacing: 1rem;
    line-height: 100%;
    text-align: center;
  }
}

.workCardsContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.workCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  align-items: center;
  height: fit-content;
  width: 96%;
  gap: 2.4rem;
}

.workCard {
  border-radius: 1.6rem;
  width: 100%;
  height: 64rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
