.aboutContainer > .about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0rem;
  font-size: 1.2rem;
}

.aboutContainer {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  border-top: var(--border-stylev2);
  box-sizing: border-box;
  padding: 10rem 0 0;

  .aboutTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    line-height: 100%;
    width: 100%;
    padding: 0 0rem 10rem;

    .title {
      word-wrap: break-word;
      text-align: center;
      font-family: var(--anton-font);
      letter-spacing: 1rem;
      font-size: calc(11dvw + 8rem);
      color: var(--secondary-color);
      line-height: 100%;
      width: 100%;
    }

    .title > span {
      color: var(--primary-color);
    }

    .containerLineHight {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      gap: 0.8rem;
      color: rgba(255, 255, 255, 0.85);

      .lineHighlight {
        display: flex;
        height: 0.2rem;
        width: 30%;
        background-color: rgba(255, 255, 255, 0.355);
      }
    }
  }

  h2 {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
  }
}
